.QandA h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.leftGrid {
  position: sticky;
  top: 80px;
}
.leftGrid img {
  width: 100%;
  border-radius: 10px;
}
.rightGrid ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
}

.rightGrid ul li h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  color: #2c3038;
}
.rightGrid ul i {
  position: absolute;
  right: 25px;
  top: 16px;
  margin-top: 16px;
}
.rightGrid #contentDown {
  cursor: default;
}
