.QandA {
  background-color: #f7f9fc;
}
.QandA h6,
.projects h6,
.clients h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.leftGrid {
  position: sticky;
  top: 80px;
}
.leftGrid img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.leftGrid img:hover {
  transform: translateY(-10px);
}
.rightGrid ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
}

.rightGrid ul li h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  color: #2c3038;
}
.rightGrid ul i {
  position: absolute;
  right: 25px;
  top: 16px;
  margin-top: 16px;
}
.rightGrid #contentDown {
  cursor: default;
}
.projects .nav {
  justify-content: center;
}
.projects .nav li {
  width: 33.333%;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  width: 33.333%;
  text-align: center;
}
.projects .nav-pills .nav-link,
.projects .nav-pills .show > .nav-link {
  color: #2c3038;
  background: #fff;
  border-bottom: 3px #f8f9fa solid;
  border-radius: 0;
}

.projects .nav-pills .nav-link.active,
.projects .nav-pills .show > .nav-link {
  border-bottom: 3px #dc4f72 solid;
  color: #dc4f72;
  border-radius: 0;
  background-color: #fff;
}
.projects .tab-content img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.projects .tab-content img:hover {
  transform: translateY(-10px);
}
.projects .tab-content h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #2c3038;
}
.projects .tab-content p {
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
}
.projects .tab-content button {
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  color: #dc4f72;
  border-color: #dc4f72;
  transition: all 0.5s;
}
.projects .tab-content button:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.clients {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.77)),
    url(./img/b2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.clients .feedback {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: #fff;
  border-radius: 6px;
}
.clients .feedback .img-circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
}
.clients .feedback .name h4 {
  font-size: 18px;
  color: #dc4f72;
  font-weight: 400;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: #fff;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #dc4f72;
}
.footer {
  background: #f7f9fc;
}
.footer h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}
.footer li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
  transition: all 0.5s;
}
.footer li a:hover {
  color: #dc4f72;
}
.footer .end-column {
  background-color: #fff;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}
.footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.footer .subscribe input[type="email"] {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  border-radius: 6px;
}
.footer .copyright {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
}
.footer .copyright a {
  color: #5a5a5a;
  transition: all 0.5s;
}
.footer .copyright a:hover {
  color: #dc4f72;
}
.footer .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .social li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.footer .social li i {
  transition: all 0.5s;
}
.footer .social li i:hover {
  color: #dc4f72;
}
.rightBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 320px;
  margin: 0;
  position: fixed;
  top: 140px;
  right: 0;
  z-index: 10;
  background: #0d1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding: 40px 5px 10px;
}
.rightBar a {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 52px;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  margin-bottom: 20px;
  opacity: 0.6;
  text-align: center;
  transition: all 0.5s;
}
.rightBar .rightBar__bottom {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}
.rightBar .rightBar__bottom a:hover {
  opacity: 1;
  color: #fff;
}
